// font-face
@font-face {
    font-family: 'db_helvethaica_x57_cond';
    src: url('../fonts/db_helvethaica_x_cond_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_cond_v3.2-webfont.svg#db_helvethaica_x57_cond') format('svg'),
    	 url('../fonts/db_helvethaica_x_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_helvethaica_x_cond_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$main :#8e4d06;


* {
	&:focus,
	&:active {outline: 0;}
	font-family: 'db_helvethaica_x57_cond';
	font-weight: normal;
	transition: .5s;
}
img {
	max-width: 100%;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #000;
	li {
		list-style: none;
		display: inline-block;
	}
}

.wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.container {
	width: 1200px;
	display: block;
	margin: 0 auto;
	position: relative;  
}
.line {
	background: #fff;
	height: 4px;
}
.mb {display: none !important;}
.pc {display: block !important;}

.site {

	

	.title {
		.header {
			position: absolute;
			width: 100%;
			z-index: 1;
			.logo {
				width: 15%;
				padding: 10px;
				display: inline-block;
			}
			.hamberger {
				float: right;
				padding: 20px;
				&:hover {cursor: pointer;}
				span {
					width: 30px;
				    height: 2px;
				    margin: 7px 0;
				    background: #fff;
				    display: block;
				}
			}

		}
		.title-slide {
			.banner-1 {
				position: relative;
				.text {
					position: absolute;
					color: #fff;
					text-align: center;
					width: 770px;
					height: 258px;
					left: 50%;
					top: 50%;
					margin-left: -385px;
					margin-top: -129px;
					z-index: 1;
					h1 {
						font-size: 130px;
						text-transform: uppercase;
						margin: 0;
						opacity: 0;
						animation: fade 2s .5s forwards;
						-webkit-animation: fade 2s .5s forwards;
					}
					h2 {
						font-size: 65px;
						margin: 0;
						line-height: 1.6;
						opacity: 0;
						animation: fade 2s 1s forwards;
						-webkit-animation: fade 2s 1s forwards;
					}
					.line {
						width: 0;
						margin: 0 auto;
						opacity: 0;
						animation: width 2s 1s forwards, fade 2s 1s forwards;
						-webkit-animation: width 2s 1s forwards, fade 2s 1s forwards;
					}
				}
				.bg {
					ul {
						li {
							width: 24%;
							margin-left: -3px;
							img {opacity: 0;}
							&:nth-child(1) {
								width: 16.6%;
								img {
									animation: fade 1s forwards;
									-webkit-animation: fade 1s forwards;
								}
							}
							&:nth-child(2) {
								width: 23.15%;
								img {
									animation: fade 1s .2s forwards;
									-webkit-animation: fade 1s .2s forwards;
								}
							}
							&:nth-child(3) {
								width: 23%;
								img {
									animation: fade 1s .4s forwards;
									-webkit-animation: fade 1s .4s forwards;
								}
							}
							&:nth-child(4) {
								width: 23.3%;
								img {
									animation: fade 1s .6s forwards;
									-webkit-animation: fade 1s .6s forwards;
								}
							}
							&:nth-child(5) {
								width: 14.1%;
								img {
									animation: fade 1s .8s forwards;
									-webkit-animation: fade 1s .8s forwards;
								}
							}
						}
					}
				}
			}
		}
	}

	.story {
		overflow: visible;
		background: #fff;
		margin-top: -5px;
		margin-bottom: -10%;
		.best {
			position: relative;
			bottom: 110px;
			width: 40%;
			left: 10%;
		}
		.story-inner {
			width: 50%;
			text-align: right;
			float: right;
			padding: 8% 60px;
			h3 {
				font-size: 90px;
				margin: 0;
				color: $main;
				text-transform: uppercase;
			}
			h4 {
				font-size: 60px;
				margin: 0;
				color: $main;
				clear: both;
			}
			p {
				font-size: 28px;
				width: 70%;
				margin: 5px 0;
			    position: relative;
			    right: -180px;
			}
			.line {
				background: $main;
				width: 80px;
				float: right;
			}
			a {
				font-size: 30px;
				color: $main;
				text-decoration: none;
				border: 2px solid $main;
				padding: 2px 40px;
				margin: 10px 0;
				display: inline-block;
				background: transparent;
				transition: .5s;
				&:hover {
					color: #fff;
					background: $main;
				}
			}
		}
	}

	.type {
		background: #000;
		.type-box {
			width: 50%;
    		display: inline-block;
    		margin-left: -2px;
    		overflow: hidden;
    		position: relative;
    		&:after {
    			content: '';
    			position: absolute;
    			top: 0;
    			left: 0;
    			bottom: 0;
    			width: 100%;
    			background: rgba(0,0,0,.7);
    			transition: .5s;
    		}
    		&:hover {
    			&:after {background: transparent;}
    		}
    		&:hover .type-select {
				.text-box {opacity: 1;}
    		}
    		&:hover .text-box {
    			.line {width: 50%;}
    		}
    		.vid {
    			position: relative;
    			height: 500px;
			    // max-height: 645px;
			    overflow: hidden;
    			video {width: 100%;}
    		}
    		.type-select {
    			position: relative;
    			z-index: 2;
    			ul {
    				width: 100%;
    				margin-top: -6px;
    				li {
    					width: calc(100%/3);
    					margin-left: -2px;
    					overflow: hidden;
    					a {
    						display: inline-block;
    						position: relative;
    						&:after {
	    						content: '';
				    			position: absolute;
				    			top: 0;
				    			left: 0;
				    			bottom: 0;
				    			width: 100%;
				    			background: rgba(0,0,0,.7);
				    			transition: .5s;
	    					}
	    					&:hover {
				    			&:after {background: transparent;}
				    		}
				    		&:hover {
				    			img {transform: scale(1.04);}
				    		}
				    		img {
				    			transform: scale(1);
				    			transition: .5s;
				    		}
    						.text-box {
    							padding: 5% 0;
    							top: 18%;
    							z-index: 2;
    							opacity: .2;
    							transition: .5s;
    							 h5 {
							    	font-size: 60px;
							    	margin: 0;
							    }
							    p {
							    	font-size: 30px;
							    	margin: 10px 0;
							    }
							    .line {
							    	width: 24%;
							    	height: 2px;
							    }
    						}
    					}
    				}
    			}
    		}
    		.text-box {
    			position: absolute;
    			top: 15%;
			    left: 16.5%;
			    width: 70%;
			    display: block;
			    z-index: 3;
			    color: #fff;
			    text-align: center;
			    border: 2px solid #fff;
			    padding: 50px 0;
			    h5 {
			    	font-size: 100px;
			    	margin: 10px 0;
			    }
			    p {
			    	font-size: 45px;
			    	margin: 40px 0;
			    }
			    .line {
			    	width: 20%;
			    	margin: 0 auto;
			    	transition: .5s;
			    }
    		}
		}
	}

	.subscribe {
		background: #201100;
		margin-top: -18px;
		text-align: center;
		color: #fff;
		padding: 50px 0;
		h6 {
			font-size: 60px;
			margin: 10px 0;
		}
		.line {
			width: 20%;
			margin: 0 auto;
		}
		p {font-size: 26px;}
		form {
			input[type="email"] {
				width: 220px;
				padding: 2px 10px;
				font-size: 22px;
			}
			input[type="submit"] {
				padding: 2px 10px;
				background: #452600;
				color: #fff;
				outline: 0;
			    border: 1px solid #452600;
			    font-size: 24px;
			    transition: .5s;
			    &:hover {
			    	cursor: pointer;
			    	background: $main;
			    	border: 1px solid $main;
			    }
			}
		}
		.form {
			width: 50%;
			margin: 0 auto;
		}
	}

	.footer {
		background: #000;
		color: #fff;
		position: relative;
		p {font-size: 20px;}
		.social {
			position: absolute;
			right: 0;
			top: -7px;
			a {
				display: inline-block;
				width: 40px;
				height: 40px;
				background: url(../images/social.png) no-repeat;
				background-size: 300%;
				background-position: 0 100%;
				margin: 0 2px;
				transition: .5s;
				&:hover {background-position-y: 0;}
				&:nth-child(2) {background-position-x: 50%;}
				&:nth-child(3) {background-position-x: 100%;}
			}
		}
	}


}

@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes width {
  0%   { width: 0; }
  100% { width: 40% }
}
@-webkit-keyframes width {
  0%   { width: 0; }
  100% { width: 40% }
}

@media only screen and (max-width: 767px) {

	.container {
		width: 100%;
		padding: 5px;
	}

	.mb {display: block !important;}
	.pc {display: none !important;}
	
	.site {

		.title {
			.title-slide {
				.banner-1 {
					.text {
						width: 480px;
    					height: 158px;
    					margin-left: -250px;
    					margin-top: -50px;
						h1 {font-size: 40px;}
						h2 {font-size: 30px;}
						.line {height: 2px;}
					}
				}
			}
		}

		.story {
			.best {
				bottom: 0;
    			width: 80%;
			}
			.story-inner {
				width: 100%;
				text-align: center;
				padding: 0 0 50px;
				float: none;
				h3 {font-size: 50px;}
				.line {
					float: none;
					margin: 0 auto;
				}
				h4 {
					font-size: 35px;
    				margin: 10px 0;
				}
				p {
					font-size: 24px;
				    width: 85%;
				    margin: 5px auto;
				    right: 0;
				}
				a {
					color: #fff;
					background: $main;
				}
			}
		}

		.type {
			.type-box {
				width: 100%;
				.vid {height: auto;}
				&:after {background: transparent;}
			}
			.type-select {
				ul {
					li {
						a {
							.text-box {
								opacity: 1 !important;
								top: 12% !important;
								padding: 4px 0 !important;
								h5 {font-size: 40px !important;}
								p {
									font-size: 22px !important;
									margin: 5px 0 !important;
								}
							}
						}
					}
				}
			}
			.text-box {
				padding: 10px 0 !important;
				h5 {font-size: 70px !important;}
				p {
					font-size: 35px !important;
					margin: 15px 0 !important;
				}
			}
		}

		.subscribe {
			margin-top: -18px;
			.form {
				width: 85%;
				input[type="submit"] {
					margin-top: 10px;
					background: $main;
				}
			}
		}

		.footer {
			text-align: center;
			.social {position: relative;}
		}

	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

	.container {
		width: 100%;
		padding: 5px;
	}

	.mb {display: block !important;}
	.pc {display: none !important;}
	
	.site {

		.title {
			.title-slide {
				.banner-1 {
					.text {
						width: 480px;
    					height: 158px;
    					margin-left: -250px;
    					margin-top: -70px;
						h1 {font-size: 70px;}
						h2 {font-size: 40px;}
						.line {height: 2px;}
					}
				}
			}
		}

		.story {
			margin-bottom: 0;
			.best {
				width: 32%;
				bottom: -60px;
			}
			.story-inner {
				width: 52%;
				h3 {font-size: 50px;}
				h4 {
					font-size: 35px;
    				margin: 10px 0;
				}
				p {
					font-size: 24px;
				    width: 85%;
				    margin: 5px auto;
				    right: 0;
				}
				a {
					color: #fff;
					background: $main;
				}
			}
		}

		.type {
			.type-box {
				width: 100%;
				.vid {height: auto;}
				&:after {background: transparent;}
			}
			.type-select {
				ul {
					li {
						a {
							.text-box {
								opacity: 1 !important;
								top: 12% !important;
								padding: 50px 0 !important;
								h5 {font-size: 40px !important;}
								p {
									font-size: 22px !important;
									margin: 5px 0 !important;
								}
							}
						}
					}
				}
			}
			.text-box {
				top: 23% !important;
				padding: 70px 0 !important;
				h5 {font-size: 70px !important;}
				p {
					font-size: 35px !important;
					margin: 15px 0 !important;
				}
			}
		}

		.subscribe {
			margin-top: -16px;
			.form {
				width: 85%;
				input[type="submit"] {
					margin-top: 10px;
					background: $main;
				}
			}
		}

		.footer {
			text-align: center;
			.social {position: relative;}
		}

	}
}



